{% block content %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand fw-bold text-warning" href="{% url 'home' %}">
                🚀 Planet Express
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/' %}active{% endif %}"
                           href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/about/' %}active{% endif %}"
                           href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/services/' %}active{% endif %}"
                           href="{% url 'services' %}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/contact/' %}active{% endif %}"
                           href="{% url 'contact' %}">Contact</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
{% endblock %}